<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Corporate Headquarters</string>
		<key>detail</key>
		<string>4021 Ambassador Caffery Pkwy
Suite 200 Bldg A
Lafayette, LA 70503
Phone: 337-291-6700
</string>
		<key>Mobile</key>
		<string>+18664074140</string>
		<key>Email</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sales</string>
		<key>detail</key>
		<string>Bentley Burgess
713-350-5200
</string>
		<key>Mobile</key>
		<string>+17133505200</string>
		<key>Email</key>
		<string>salescontactus@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Driver Opportunities</string>
		<key>detail</key>
		<string>Driver Opportunities</string>
		<key>Mobile</key>
		<string>+18664074140</string>
		<key>Email</key>
		<string>driveropportunities@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Corporate Communications</string>
		<key>detail</key>
		<string>337-291-6700</string>
		<key>Mobile</key>
		<string>+13372916700</string>
		<key>Email</key>
		<string>corporatecomm@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Operations</string>
		<key>detail</key>
		<string>337-291-6700
</string>
		<key>Mobile</key>
		<string>+13372916700</string>
		<key>Email</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Brokerage</string>
		<key>detail</key>
		<string></string>
		<key>Mobile</key>
		<string></string>
		<key>Email</key>
		<string>brokerjobwebinquiry@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Driver Verifications</string>
		<key>detail</key>
		<string></string>
		<key>Mobile</key>
		<string>+18009410947</string>
		<key>Email</key>
		<string>driververifications@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Web Site Support</string>
		<key>detail</key>
		<string>800-270-3158</string>
		<key>Mobile</key>
		<string>+18002703158</string>
		<key>Email</key>
		<string>uvlwebsitesupport@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Logistics</string>
		<key>detail</key>
		<string>800-880-8482
</string>
		<key>Mobile</key>
		<string>+18008808482</string>
		<key>Email</key>
		<string>Logistics@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Safety</string>
		<key>detail</key>
		<string>Safety Inquiries
337-291-6700</string>
		<key>Mobile</key>
		<string>+13372916700</string>
		<key>Email</key>
		<string>safetywebinquiries@uvlogistics.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Driver Qualifications</string>
		<key>detail</key>
		<string>Driver Qualifications
800-941-0947</string>
		<key>Mobile</key>
		<string>+18009410947</string>
		<key>Email</key>
		<string>driverqualifications@uvlogistics.com</string>
	</dict>
</array>
</plist>
