<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>originCity</key>
	<string>Lafayette</string>
	<key>originState</key>
	<string>Louisiana</string>
	<key>originZip</key>
	<string>70508</string>
	<key>originLatitude</key>
	<real>30.2241</real>
	<key>originLongitude</key>
	<real>-92.0198</real>
	<key>destCity</key>
	<string>Lafayette</string>
	<key>destState</key>
	<string>Louisiana</string>
	<key>destZip</key>
	<string>70508</string>
	<key>destLatitude</key>
	<real>30.2241</real>
	<key>destLongitude</key>
	<real>-92.0198</real>
	<key>tractorType</key>
	<array>
		<string>All</string>
	</array>
</dict>
</plist>
