<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>originCity</key>
	<string></string>
	<key>originState</key>
	<string></string>
	<key>originStateAbbrev</key>
	<string></string>
	<key>destCity</key>
	<string></string>
	<key>destState</key>
	<string></string>
	<key>destStateAbbrev</key>
	<string></string>
	<key>tractorType</key>
	<array>
		<string>All</string>
	</array>
</dict>
</plist>
