<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>placeholder</key>
		<string>First Name</string>
		<key>cellType</key>
		<string>0</string>
		<key>maxLength</key>
		<string>75</string>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Last Name</string>
		<key>cellType</key>
		<string>0</string>
		<key>maxLength</key>
		<string>75</string>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>E-mail</string>
		<key>cellType</key>
		<string>0</string>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Company Name</string>
		<key>cellType</key>
		<string>0</string>
		<key>maxLength</key>
		<integer>250</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Job Title</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>100</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Phone</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Address-1</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Address-2</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<false/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>City</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>State</string>
		<key>cellType</key>
		<integer>1</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Zip</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<false/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>User Type</string>
		<key>cellType</key>
		<integer>1</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Payee-ID</string>
		<key>cellType</key>
		<integer>1</integer>
		<key>maxLength</key>
		<integer>8</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array>
			<string>Owner/Driver</string>
			<string>Fleet Owner</string>
			<string>Carrier</string>
		</array>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Driver-ID</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>8</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array>
			<string>OD</string>
		</array>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Customer-ID</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<false/>
		<key>RequiredArray</key>
		<array>
			<string>CU</string>
		</array>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Carrier Number Type</string>
		<key>cellType</key>
		<integer>1</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array>
			<string>CA</string>
		</array>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Carrier Number</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>12</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array>
			<string>CA</string>
		</array>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Carrier State</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>2</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array>
			<string>IN</string>
		</array>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Dot or Fid</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>11</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array>
			<string>CA</string>
		</array>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Agree to Terms</string>
		<key>cellType</key>
		<integer>2</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>User-ID</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Password</string>
		<key>cellType</key>
		<integer>3</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>Confirm Password</string>
		<key>cellType</key>
		<integer>3</integer>
		<key>maxLength</key>
		<integer>75</integer>
		<key>Required</key>
		<true/>
		<key>RequiredArray</key>
		<array/>
	</dict>
</array>
</plist>
