<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>radius</key>
	<string>50</string>
	<key>city</key>
	<string>Lafayette</string>
	<key>state</key>
	<string>Louisiana</string>
	<key>zip</key>
	<string>70508</string>
	<key>status</key>
	<array>
		<string>All</string>
	</array>
	<key>tractorType</key>
	<array>
		<string>All</string>
	</array>
	<key>latitude</key>
	<real>30.2241</real>
	<key>longitude</key>
	<real>-92.0198</real>
</dict>
</plist>
