<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Customer</key>
	<string>CU</string>
	<key>Owner\Driver</key>
	<string>OD</string>
	<key>FleetOwner</key>
	<string>FO</string>
	<key>Carrier</key>
	<string>CA</string>
</dict>
</plist>
